.container{
    display: flex;
    flex-direction: column;
    width:100%;
    padding:0px;
    margin:0px;
    height:100vh;
    
}



.break {
    flex-basis: 100%;
    height: 0;
  }

  html {
    height: 100vh;
  }

  .body-container{
    display:flex;
    flex-direction: row;
    height:100vh;
}

.sideNavStyle{
  background-color: black;
}
  
 .example-sidenav-container{
   height:100%

 }

  .content{
      flex:1 1 auto;
      min-width:0px;
      width:100%;
      height:100%;
      background-color: white;
  }